@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: Inter;
}
.fon_m{
	position: absolute;
}
.punkt_menu_1{
	position: absolute;
	color: white;
	top:60px;
	left:200px;
	font-size: 23px;
	font-weight:700 ;

}
.punkt_menu_2{
	position: absolute;
	color: white;
	top: 60px;
	left: 930px;
	font-weight: 700;
	font-size: 20px;

}
.punkt_menu_3{
	position: absolute;
	color: white;
	top:60px;
	left: 1100px;
		font-weight: 700;
	font-size: 20px;
 
}
.punkt_menu_4{
	position: absolute;
	color: white;
	top: 60px;
	left: 1400px;
		font-weight: 700;
	font-size: 20px;

}
body{
    background-color:black;
   } 
h1{
 background-color:white;	
}   
 
 .content {
  padding-bottom: 200px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: -560px;
  width: 100%;
}
.footer_2 {
  position: absolute;
  left: 0;
  bottom: -3760px;
  width: 100%;

}
.footer_3 {
  position: absolute;
  left: 0;
  bottom: -3760px;
  width: 100%;
  
}

.kat_1 {
	  position: absolute;

margin: 200px 00px ;
}
.kat_2 {
	  position: absolute;

margin: 200px 340px ;
}
.kat_3 {
	  position: absolute;

margin: 167px 650px ;
}
.kat_4 {
	  position: absolute;

margin: 175px 1030px ;
}
.kat_5 {
	  position: absolute;

margin: 780px 00px ;
}
.kat_6 {
	  position: absolute;

margin: 780px 350px ;
}
.kat_7 {
	  position: absolute;

margin: 780px 685px ;
}
.kat_8 {
	  position: absolute;

margin: 1350px 00px ;
}
.kat_9 {
	  position: absolute;

margin: 1320px 350px ;
}

.kat_10 {
	  position: absolute;

margin: 1910px 0px ;
}
.kat_11 {
	  position: absolute;

margin: 1910px 310px ;
}
.kat_12 {
	  position: absolute;

margin: 2430px 0px ;
}
.kat_13 {
	  position: absolute;

margin: 2475px 360px ;
}
.kat_14 {
	  position: absolute;

margin: 3020px 0px ;
}
.kat_15 {
	  position: absolute;

margin: 3020px 355px ;
}
.kat_16 {
	  position: absolute;

margin: 3560px 0px ;
}
.kb1 {
	  position: absolute;

margin: 200px 30px ;
}
.kb2 {
	  position: absolute;

margin: 1015px 30px ;
}
.kb3 {
	  position: absolute;

margin: 1815px 30px ;
}

.kb4 {
	  position: absolute;

margin: 2615px 30px ;
}

